extends layout


block content
  script(src="/js/tablero.js")
  script(src="/socket.io/socket.io.js").

  script(type="text/javascript").
    var URL = window.location.protocol + "//" + window.location.host;
    console.log("CONECTADO A SOCKETS");
    var socket = io.connect(URL);



    
    
  div(class="content-fluid")
      div(class="row text-center panel panel-primary")
        .panel-heading
            h1.font_Xisfani
              img(src="/images/logo3.png" style="width:40px; height=40px;")
              | Trello
      br
      br
      div(class="row col-xs-8 col-sm-10 col-md-offset-1")
         div(class="panel panel-info")#tableros
            .panel-heading
              h4 
                  span(class="glyphicon glyphicon-user")
                  |   Mis tableros
            .panel-body(id="pb") 
              div(class="row" id="listnew")
                div(class="list-group col-md-3")
                  a(href="#" class="list-group-item text-center")
                    h4.list-group-item-heading Crear un nuevo Tablero
                    p(class="list-group-item-text" id="pdesc")
                      | Haz click para insertar el nombre del nuevo tablero
                    p(class="list-group-item-text" id="tablero" style="display:none")
                        input(type="text" class="form-control" id="nametab" placeholder="Nombre de la nuevo tablero")
                        a(class="btn btn-success col-md-offset-0" id="guardar")
                          | Guardar
                        a(class="btn btn-danger col-md-offset-1" id="cancelar")
                          | Cancelar
        div(class="row col-xs-8 col-sm-10 col-md-offset-1")
           div(class="panel panel-info")
              .panel-heading
                h4 
                    span(class="glyphicon glyphicon-user")
                    |   Equipo
              .panel-body
                h4 tableros
