doctype html
html
  head
    title #{title}
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/fonts.css')
    script(src="/js/bootstrap.min.js")
    script(src="/js/jquery.min.js")
    script(src="/js/tablero.js")
	script(src="/js/drag.js")
  body
    block content