extends layout

block content
  script(src="/socket.io/socket.io.js")
  div(class="content-fluid")
      div(class="row text-center panel panel-primary")
        .panel-heading
            h1.font_Xisfani
              img(src="/images/logo3.png" style="width:40px; height=40px;")
              | Trello
      div(class="row col-xs-1 col-sm-10 col-md-offset-0")
         div(class="panel panel-info")
            .panel-heading
              h4 
                  |   #{nombre}
            .panel-body
              div(class="list-group col-md-3" align="center" id="listnew")
                input(type="text" class="form-control" id="addlist" placeholder="Nombre de la nueva lista")
                a(class="btn btn-success col-md-offset-1" id="guardar" style="display:none;")
                  | Guardar
                a(class="btn btn-danger col-md-offset-1" id="cancelar" style="display:none;")
                  | Cancelar